include head.pug
	// Main
	#main
		// Post
		article.post
			header
				.title
					h2
						a(href='#') #{post.title}
					p #{post.description}
				.meta
					time.published #{post.createdAt}
					a.author(href='#')
						span.name Auteur
						img(src='/images/avatar.jpg', alt='')
			span.image.featured
				img(src='/images/uploads/' + post.photo, alt='')
			p #{post.content}
			footer(style="width:100%;")
				ul.stats
					li
						a(href='#') Catégorie
				ul.stats(style="margin-left:auto;")
					li
						a.icon.fa-arrow-up(href='#', data-action='up').vote #{votes.up}
					li
						a.icon.fa-arrow-down(href='#', data-action='down').vote #{votes.down}
			hr
			h3 Commentaires
			form.new-comment
				input(type='text', id='author', placeholder='Nom', required)
				input(type='text', id='title', placeholder='Titre', required)
				input(type='text', id='content', placeholder='Message', required)
				input(type='submit', value='Ajouter', style='height:44px;')
			div.comments
				if post.comments
					each comment in post.comments
						div.comment-item
							h5 #{comment.title}
							p #{comment.content}
							small Posté par 
								span #{comment.author} 
								| le 
								span #{comment.createdAt}
							hr
				else
					p.no-comment Aucun commentaire trouvé
		script(src='/assets/js/ajax/vote.js')
		script(src='/assets/js/ajax/comment.js')
	// Footer
	section#footer
		ul.icons
			li
				a.fa-twitter(href='#')
					span.label Twitter
			li
				a.fa-facebook(href='#')
					span.label Facebook
			li
				a.fa-instagram(href='#')
					span.label Instagram
			li
				a.fa-rss(href='#')
					span.label RSS
			li
				a.fa-envelope(href='#')
					span.label Email
		p.copyright
			| © Untitled. Design: 
			a(href='http://html5up.net') HTML5 UP
			| . Images: 
			a(href='http://unsplash.com') Unsplash
			| .
	// Scripts
	//script(src='/assets/js/jquery.min.js')
	script(src='/assets/js/skel.min.js')
	script(src='/assets/js/util.js')
	script(src='/assets/js/main.js')
